<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - Babbage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
    <div>
        <img src="/img/babbage.jfif" alt="Foto de la persona">
    </div>
    <div class="texts">
        <h1>Babbage</h1>
        <p>
            Charles Babbage FRS fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "El Padre de la computación".         
        </p>
        <a href="/">Inicio</a>
    </div>
    </section>
</body>
</html>
