<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - Clarke</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div>
            <img src="/img/clarke.jpg" alt="foto de la apersona">
        </div>
        <div class="texts">
            <h1>Adam Clarke</h1>
            <p>Adam Clarke fue un teólogo metodista y erudito biblico del Reino Unido.</p>
            <a href="/">Inicio</a>
        </div>
    </section></body>
</html>