<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - Hopper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div>        
            <img src="/img/hopper.jfif" alt="foto de la persona">
        </div>
        <div class="texts">
            <h1>Hopper</h1>
            <p>Edward Hopper fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea.</p>
            <a href="/">Inicio</a>
        </div>
    </section></body>
</html>