<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <section>
        <div>
            <img src="/img/sky.jpg" alt="cielo">
        </div>
        <div class="texts">
            <h1>ESTE ES EL INICIO </h1>
            <p>
                enlaces:
            </p>
            <a href="/babbage">Babbage</a>
            <a href="/berners-lee">Berners Lee</a>
            <a href="/clarke">Clarke</a>
            <a href="/hamilton">Hamilton</a>
            <a href="/hopper">Hopper</a>
            <a href="/lovelace">Lovelace</a>
            <a href="/turing">Turing</a>
        </div>
    </section>
</body>
</html>
