<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <section>
        <div>
            <img src="/img/sky.jpg" alt="cielo">
        </div>
        <div class="texts">
            <h1>Inicio - Héroes </h1>
            <p>
                Índice de Héroes:
            </p>
            <a href="/heroe/babbage">Babbage</a>
            <a href="/heroe/berners-lee">Berners Lee</a>
            <a href="/heroe/clarke">Clarke</a>
            <a href="/heroe/hamilton">Hamilton</a>
            <a href="/heroe/hopper">Hopper</a>
            <a href="/heroe/lovelace">Lovelace</a>
            <a href="/heroe/turing">Turing</a>
        </div>
    </section>
</body>
</html>
