<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - Ada Lovelace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div>
            <img src="/img/Ada lovelace.jfif" alt="foto de la persona">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.l_pvwyhYQaHv9r7EyWZD-wHaE_%26pid%3DApi&f=1" alt="imagen de ada lovelace">
        </div>
        <div class="texts">
            <h1>Ada Lovelace</h1>
            <p>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.​​​ Lovelace fue la única hija legítima del poeta lord Byron y su esposa lady Byron. Byron se separó de su esposa un mes después del nacimiento de Ada y dejó Inglaterra para siempre cuatro meses después. Conmemoró la despedida en un poema que comienza: "¿Es tu rostro como el de tu madre, mi bella hija? ¡ADA! Hija única de mi casa y mi corazón".​ Murió en la Guerra de independencia de Grecia cuando Ada tenía ocho años.</p>
            <a href="/">Inicio</a>
        </div>
    </section>
</body>
</html>