<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - turing</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div>
            <img src="img/turing.jfif" alt="foto de la pesona">
        </div>
        <div class="texts">
            <h1>Turing</h1>
            <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico</p>
            <a href="/">Inicio</a>
        </div>
    </section>
</body>
</html>
